body{
    background-color:rgba(0, 128, 128, 0.849) ;
    animation-name: change;
    animation-duration: 20s;
}


@keyframes change {
    0%   {background-color:tan;}
    25%  {background-color:thistle;}
    50%  {background-color:lightgray;}
    100% {background-color:teal;}
  }

.container{
    display: grid;
    background-color: black;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    width: 400px;
    height: 400px;
    grid-gap:10px 10px;
    margin:30px 0px 40px 450px;
box-shadow: 4px 4px rgb(107, 105, 105);
}

.grid_item{
     background-color: lightblue;
     padding: 10px;
   
}

.grid_item1{
  background-color: lightblue;
  padding: 10px;

}

#btn{
    background-color:darkblue;
    width: 200px;
    height: 40px;
    font-size:medium;
    margin-left: 560px ;
    color: white;
    border: darkblue;
    box-shadow: 4px 4px rgba(107, 105, 105, 0.568);
}

input{
    width:50px;
    height: 50px;
    background-color:lightblue;
    outline:none;
    border: lightblue;
    font-size:40px;
}

.blue {
    background-color:yellowgreen;
  }

  h1{
    text-align: center;
    color: #000;
    margin-right: 20px;
    text-decoration: underline;
  }



@media only screen and (max-width: 600px){

  .container{
    margin-left: 100px;
  }
  
  #btn{
    margin-left: 50px;
  }
 
}


@media only screen and (max-width: 900px){

  .container{
    margin: 100px;
  }
  
  #btn{
    margin-left: 50px;
  }
 
}

@media only screen and (max-width: 400px){

  .container{
    margin-left: 50px;
  }
  
  #btn{
    margin-left: 50px;
  }
 
}
